
@{
    ViewBag.Title = "Formulario";
}

<h2>Formulario</h2>

<form class="form-group">
    <label for="tnome">Nome:</label>
    <input type="text" class="form-control form-control-lg" id="tnome" name="cnome" />
    <br>
    <label for="tidade">Idade:</label>
    <input type="number" class="form-control form-control-lg" id="tidade" name="cIdade" />
    <br>
    <label for="temail">E-mail:</label>
    <input type="email" class="form-control form-control-lg" id="temail" name="cemail" />
    <br>
    <label for="tendereco">Endereço:</label>
    <input type="text" class="form-control form-control-lg" id="tendereco" name="cendereco">
    <br>
    <input type="submit" class="btn btn-primary" value="Cadastrar">
</form>