
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br>

<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem nibh, auctor tincidunt velit sed, maximus semper enim. Sed eleifend, libero id accumsan gravida, sem est ornare nisl, nec eleifend urna urna non turpis. Aenean placerat scelerisque magna, ut tempor massa accumsan non. Proin sed tellus mauris. Quisque suscipit sem sed nunc auctor rhoncus. Pellentesque aliquet elit quis lacus cursus ullamcorper. Pellentesque tincidunt dolor et ligula mollis rutrum. Vivamus iaculis nibh in vulputate auctor. Proin eget turpis nec ex egestas ultrices. Mauris mollis, purus ac finibus fringilla, velit arcu tristique odio, vel ullamcorper erat orci ut elit. Nullam finibus risus turpis, sit amet pulvinar felis semper eu. Maecenas sit amet diam dignissim, bibendum nulla quis, accumsan mauris. Pellentesque egestas sollicitudin augue, sit amet sagittis felis euismod eget. </p>

